h2{
    color: blue;
    background-color: yellow;
}

body{
    background-color: orange;
}

.box{
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: aquamarine;
}
.box:hover{
    background-color: azure;
    font-size: 18px;
}